In [32]:
import pandas as pd 
df = pd.read_csv("/Users/tanyagolubev/Projects/deploy-impact-23-shift-3/data/glassdore/glassdoor.csv")

In [11]:
df.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
benefits.benefitRatingDecimal,0.0,4.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,4.392857,3.93871,5.0,0.0,3.684211,0.0
benefits.comments,2801.0,2802.0,2803.0,2804.0,2805.0,2806.0,2807.0,2808.0,2809.0,2810.0,2811.0,2812.0,2813.0,2814.0,2815.0,2816.0,2817.0,2818.0,2819.0,2820.0
benefits.highlights,2801.0,2802.0,2803.0,2804.0,2805.0,2806.0,2807.0,2808.0,2809.0,2810.0,2811.0,2812.0,2813.0,2814.0,2815.0,2816.0,2817.0,2818.0,2819.0,2820.0
benefits.numRatings,0,3,0,0,0,20,0,0,0,0,1,0,0,1,113,311,2,0,38,0
benefits.employerSummary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<p>Our employees work hard to innovate and del...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
salary.currency.positiveTemplate,NaN,$#,NaN,NaN,NaN,$#,NaN,NaN,NaN,NaN,$#,NaN,NaN,$#,$#,$#,$#,NaN,$#,$#
salary.currency.symbol,NaN,&pound;,NaN,NaN,NaN,&pound;,NaN,NaN,NaN,NaN,&pound;,NaN,NaN,&pound;,&pound;,&pound;,&pound;,NaN,&pound;,&pound;
salary.lastSalaryDate,NaN,2019-10-14T06:05:58,NaN,NaN,NaN,2019-10-12T11:57:27,NaN,NaN,NaN,NaN,2019-11-01T05:05:31,NaN,NaN,2019-06-30T01:12:17,2019-10-21T12:11:15,2019-11-04T08:03:47,2019-08-07T05:52:26,NaN,2019-10-25T06:20:08,2019-08-30T02:46:27
salary.salaries,2483.0,2484.0,2485.0,2486.0,2487.0,2488.0,2489.0,2490.0,2491.0,NaN,2492.0,2493.0,2494.0,2495.0,2496.0,2497.0,2498.0,2499.0,2500.0,2501.0
wwfu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.0,NaN,NaN,NaN,NaN

In [38]:
df.filter(
    items = [
    'header.jobTitle', 
    'header.employerName', 
    'header.location', 
    'job.description', 
    'job.jobTitleId', 
    'map.country',
    'map.employerName',
    'map.lat',
    'map.lng',
    'map.location',
    'map.address',
    'map.postalCode',
    'overview.industry',
    'overview.description',
    'overview.mission',
    'overview.website',
        ]
).T

,0,1,2,3,4,5,6,7,8,9,...,165280,165281,165282,165283,165284,165285,165286,165287,165288,165289
header.jobTitle,Biogas Project Development Manager,Quality Manager - Boehringer Ingelheim Healthc...,"Senior Software Engineer (PHP, Elixir, Python)",Senior SQA Engineer,Research Manager,PS Technical Consultant,B2B Product Manager,Post-Doctoral Research Visit F/M Microscopic d...,Technical Consultant for Microsoft Infrastruct...,ETL/Database Developer,...,Senior Data Engineer mit Schwerpunkt Distribut...,Application Engineer - Protection,Formulation Lab Analyst,Financial Analysts/ Controller-Finance,Field Quality Engineer,East – Assistant Store Manager (All Brands),Data Center Partner Marketing Manager (Japan),Junior Production Manager m/v,Opleidingsmanager Industrieel Product Ontwerpen,BIO MASS SCIENTIST / RESEARCHERS
gaTrackerData.jobTitle,Biogas Project Development Manager,Quality Manager - Boehringer Ingelheim Healthc...,"Senior Software Engineer (PHP, Elixir, Python)",Senior SQA Engineer,Research Manager,PS Technical Consultant,B2B Product Manager,Post-Doctoral Research Visit F/M Microscopic d...,Technical Consultant for Microsoft Infrastruct...,ETL/Database Developer,...,Senior Data Engineer mit Schwerpunkt Distribut...,Application Engineer - Protection,Formulation Lab Analyst,Financial Analysts/ Controller-Finance,Field Quality Engineer,East – Assistant Store Manager (All Brands),Data Center Partner Marketing Manager (Japan),Junior Production Manager m/v,Opleidingsmanager Industrieel Product Ontwerpen,BIO MASS SCIENTIST / RESEARCHERS
header.employerName,Modus Group,Boehringer Ingelheim,Immobiliare.it,Codup,MARKELYTICS SOLUTIONS INDIA,NCR,Nisha,Inria,Mitra Integrasi Informatika,Adlab Solutions,...,Know-Center,Schweitzer Engineering Laboratories,MSD,NaN,Electrolux,Valiram Group,Intel,Mc Three,Hanzehogeschool Groningen,Tembusu Industries
header.location,Warsaw,Porto,Milan,Karāchi,Bengaluru,Colombia,Central,Villeneuve-d'Ascq,Jakarta,Islamabad,...,Graz,Madrid,Tipperary,Zürich,Nyíregyháza,Vietnam,Tokyo,Waregem,Groningen,Singapore
job.jobTitleId,-1,-1,-1,35043,33240,817511,941269,-1,-1,579825,...,-1,724829,-1,101013,32962,-1,-1,-1,-1,-1
map.country,Poland,NaN,Italy,PK,IN,NaN,IL,FR,ID,PK,...,AT,Spain,Ireland,CHE,Hungary,NaN,JP,BE,NL,SG
map.employerName,Modus Group,Boehringer Ingelheim,Immobiliare.it,Codup,Markelytics Solutions,NCR,Nisha Group,Inria,Mitra Integrasi Informatika,NaN,...,Know-Center,Schweitzer Engineering Laboratories,MSD,NaN,Electrolux,Valiram Group,Intel Corporation,Mc Three,Hanzehogeschool Groningen,Tembusu Industries
map.lat,52.25,41.15,45.4667,24.8667,12.967,0.0,0.0,50.6167,-6.1744,33.7,...,47.0667,40.4893,52.4733,47.3667,47.95,0.0,35.685,50.8833,53.2167,1.2931
map.lng,21.0,-8.6167,9.2,67.05,77.5873,0.0,0.0,3.1666,106.8294,73.1667,...,15.45,-3.6827,-8.1558,8.55,21.7167,0.0,139.7514,3.4167,6.55,103.8558
map.location,Warsaw,Porto,Milan,Karāchi,Bengaluru,Colombia,Central,Villeneuve-d'Ascq,Jakarta,Islamabad,...,Graz,Madrid,Tipperary,Zürich,Nyíregyháza,Vietnam,Tokyo,Waregem,Groningen,Singapore
map.address,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
map.postalCode,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview.industry,Investment Banking & Asset Management,Biotech & Pharmaceuticals,NaN,NaN,Consulting,Computer Hardware & Software,Staffing & Outsourcing,Internet,Accounting,NaN,...,NaN,Electrical & Electronic Manufacturing,Healthcare Services & Hospitals,NaN,Consumer Products Manufacturing,"Department, Clothing, & Shoe Shops",Computer Hardware & Software,NaN,Colleges & Universities,NaN
overview.description,We are the drivers of the future who offer a g...,NaN,NaN,NaN,NaN,NCR Corporation (NYSE: NCR) is a leader in ban...,NaN,"Established in 1967, Inria is the only only pu...",NaN,NaN,...,NaN,"SEL invents, designs, and builds digital produ...",From developing new therapies that treat and p...,NaN,Electrolux is a global leader in home applianc...,The Valiram Group was established in Kuala Lum...,NaN,NaN,Hanze UAS is located in the vibrant student ci...,NaN
overview.mission,NaN,NaN,NaN,NaN,NaN,Partner with our customers to lead the next ge...,NaN,NaN,NaN,NaN,...,NaN,Our mission is simple: to make electric power ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
overview.website,www.modus.group,www.boehringer-ingelheim.com,NaN,NaN,NaN,www.ncr.com,NaN,www.inria.fr,NaN,NaN,...,NaN,NaN,www.msd.com,NaN,www.electroluxgroup.com,www.valiram.com,www.intel.com,NaN,NaN,NaN

In [41]:
df[df['header.location']!=df['gaTrackerData.location']][['header.location','gaTrackerData.location']]

       header.location gaTrackerData.location
1                Porto                    NaN
2                Milan                 Milano
3              Karāchi                Karachi
5             Colombia                    NaN
6              Central                    NaN
...                ...                    ...
165278          Zürich                    NaN
165282       Tipperary                    NaN
165284     Nyíregyháza                    NaN
165285         Vietnam                    NaN
165289       Singapore                    NaN

[92473 rows x 2 columns]

In [30]:
df[df["map.country"]=='CH']

,benefits.benefitRatingDecimal,benefits.comments,benefits.highlights,benefits.numRatings,benefits.employerSummary,breadCrumbs,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,...,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries,wwfu
279,0.000000,3080.0,3080.0,0,NaN,3080,-1,1145099,ONE Agency,51-200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2730.0,NaN
338,4.200000,3139.0,3139.0,5,NaN,3139,0,451902,Zühlke,1001-5000,...,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-18T13:43:22,2785.0,NaN
419,0.000000,8420.0,8420.0,0,NaN,8420,-1,2345315,True Wealth Design,1-50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7544.0,NaN
436,0.000000,8437.0,8437.0,0,NaN,8437,-1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,0.000000,8499.0,8499.0,0,NaN,8499,-1,13979,Swiss International Air Lines,5001-10000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7611.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164944,0.000000,58055.0,58055.0,0,NaN,58055,-1,1063202,Abraxas Informatik,201-500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51770.0,NaN
164992,0.000000,58103.0,58103.0,0,NaN,58103,-1,1189399,Pharmaselect,-1-0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51815.0,NaN
165154,2.333333,58265.0,58265.0,12,NaN,58265,-1,12800,ALTEN,10000--1,...,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-26T14:47:58,51961.0,NaN
165206,0.000000,58317.0,58317.0,0,NaN,58317,-1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165254,0.000000,58365.0,58365.0,0,NaN,58365,-1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print(list[df.columns.values])

list[array(['benefits.benefitRatingDecimal', 'benefits.comments',
       'benefits.highlights', 'benefits.numRatings',
       'benefits.employerSummary', 'breadCrumbs',
       'gaTrackerData.category', 'gaTrackerData.empId',
       'gaTrackerData.empName', 'gaTrackerData.empSize',
       'gaTrackerData.expired', 'gaTrackerData.industry',
       'gaTrackerData.industryId', 'gaTrackerData.jobId.long',
       'gaTrackerData.jobId.int', 'gaTrackerData.jobTitle',
       'gaTrackerData.location', 'gaTrackerData.locationId',
       'gaTrackerData.locationType', 'gaTrackerData.pageRequestGuid.guid',
       'gaTrackerData.pageRequestGuid.guidValid',
       'gaTrackerData.pageRequestGuid.part1',
       'gaTrackerData.pageRequestGuid.part2', 'gaTrackerData.sector',
       'gaTrackerData.sectorId',
       'gaTrackerData.profileConversionTrackingParams.trackingCAT',
       'gaTrackerData.profileConversionTrackingParams.trackingSRC',
       'gaTrackerData.profileConversionTrackingParams.trackingXSP',
       'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
       'gaTrackerData.jobViewTrackingResult.requiresTracking',
       'gaTrackerData.jobViewTrackingResult.trackingUrl',
       'header.adOrderId', 'header.advertiserType',
       'header.applicationId', 'header.applyButtonDisabled',
       'header.applyUrl', 'header.blur', 'header.coverPhoto',
       'header.easyApply', 'header.employerId', 'header.employerName',
       'header.expired', 'header.gocId', 'header.hideCEOInfo',
       'header.jobTitle', 'header.locId', 'header.location',
       'header.locationType', 'header.logo', 'header.logo2x',
       'header.organic', 'header.overviewUrl', 'header.posted',
       'header.rating', 'header.saved', 'header.savedJobId',
       'header.sgocId', 'header.sponsored', 'header.userAdmin',
       'header.uxApplyType', 'header.featuredVideo',
       'header.normalizedJobTitle', 'header.urgencyLabel',
       'header.urgencyLabelForMessage', 'header.urgencyMessage',
       'header.needsCommission', 'header.payHigh', 'header.payLow',
       'header.payMed', 'header.payPeriod', 'header.salaryHigh',
       'header.salaryLow', 'header.salarySource', 'job.description',
       'job.discoverDate', 'job.eolHashCode', 'job.importConfigId',
       'job.jobReqId.long', 'job.jobReqId.int', 'job.jobSource',
       'job.jobTitleId', 'job.listingId.long', 'job.listingId.int',
       'map.country', 'map.employerName', 'map.lat', 'map.lng',
       'map.location', 'map.address', 'map.postalCode',
       'overview.allBenefitsLink', 'overview.allPhotosLink',
       'overview.allReviewsLink', 'overview.allSalariesLink',
       'overview.foundedYear', 'overview.hq', 'overview.industry',
       'overview.industryId', 'overview.revenue', 'overview.sector',
       'overview.sectorId', 'overview.size', 'overview.stock',
       'overview.type', 'overview.description', 'overview.mission',
       'overview.website', 'overview.allVideosLink',
       'overview.competitors', 'overview.companyVideo', 'photos',
       'rating.ceo.name', 'rating.ceo.photo', 'rating.ceo.photo2x',
       'rating.ceo.ratingsCount', 'rating.ceoApproval',
       'rating.recommendToFriend', 'rating.starRating', 'reviews',
       'salary.country.cc3LetterISO', 'salary.country.ccISO',
       'salary.country.continent.continentCode',
       'salary.country.continent.continentName',
       'salary.country.continent.id', 'salary.country.continent.new',
       'salary.country.countryFIPS',
       'salary.country.currency.currencyCode',
       'salary.country.currency.defaultFractionDigits',
       'salary.country.currency.displayName',
       'salary.country.currency.id', 'salary.country.currency.name',
       'salary.country.currency.negativeTemplate',
       'salary.country.currency.new',
       'salary.country.currency.positiveTemplate',
       'salary.country.currency.symbol', 'salary.country.currencyCode',
       'salary.country.defaultLocale', 'salary.country.defaultName',
       'salary.country.defaultShortName',
       'salary.country.employerSolutionsCountry', 'salary.country.id',
       'salary.country.longName', 'salary.country.major',
       'salary.country.name', 'salary.country.new',
       'salary.country.population', 'salary.country.shortName',
       'salary.country.tld', 'salary.country.type',
       'salary.country.uniqueName',
       'salary.country.usaCentricDisplayName',
       'salary.currency.currencyCode',
       'salary.currency.defaultFractionDigits',
       'salary.currency.displayName', 'salary.currency.id',
       'salary.currency.name', 'salary.currency.negativeTemplate',
       'salary.currency.new', 'salary.currency.positiveTemplate',
       'salary.currency.symbol', 'salary.lastSalaryDate',
       'salary.salaries', 'wwfu'], dtype=object)]